.mr-9px {
  margin-right: 9px;
}

.mr-10px {
  margin-right: 10px;
}
.mr-0-25px {
  margin-right: 0.25px;
}

.background-lightgrey{
  background-color:  #393A4B;
}

.mb-28px {
  margin-bottom: 28px !important;
}
.background-black{
  background-color: #2C2D3C;
}
