.mr-9px {
    margin-right: 9px;
  }

  .mr-10px {
    margin-right: 10px;
  }

  .link-icon {
    margin-right: 10px;
  }
  @media only screen and (max-width: 600px){
    .link-icon {
      margin-right: 0px;
      margin-bottom: 5px;
    }
  }
  .mr-0-25px {
    margin-right: 0.25px;
  }

  .background-lightgrey{
    background-color:  #393A4B;
  }

  .mb-28px {
    margin-bottom: 28px !important;
  }
  .background-black{
    background-color: #2C2D3C;
  }
